

 .itemPerfume img{
   border-radius: 5px;
    width: 200px;
    height: 200px;
}

.itemPerfume{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: rgba(36, 33, 33, 0.747);
    justify-content: space-around;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    position: relative;
    
    
   
}

.itemPerfume h2 {
    
    font-family: 'Spartan",sans-serif';
    color: rgb(255, 255, 255);
    font-size: 15px;
   
}