.bienvenida-container{
    width: 400px;
    height: 400px;
    background-color: rgba(36, 28, 16, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida-container .bienvenida{
    color: antiquewhite;
}