.footer{
    background-color:gainsboro ;
    display: flex;
    flex-direction: column;
    
}

.footer .container{
    justify-content: space-around;
        color: rgb(112, 112, 111);
        display: flex;
        flex-direction: row;
}

.footer .container .col{
    display: flex;
    
    margin: 20px;
}

.footer .container .col ul{
    list-style-type: none;
}



.footer .container .col ul a{
    color: rgb(105, 99, 99);
    text-decoration: none;
}